{% extends 'blog/base.html' %}

{% block titulo %}Blog - Santino Rodriguez{% endblock %}

{% block contenido %}
    <section class="MenuLateral">
        <ul class="Bloques">
            <li>Inicio</li>
            <li>Contacto</li>
        </ul>
        <hr>
        <ul class="Bloques">
            <li>Filtros</li>
            <li>Votaciones</li>
        </ul>
        <hr>
        <ul class="Bloques">
            <li>Favoritos / Guardados</li>
            <li>Mis Comentarios</li>
            <li>Historial de Lectura</li>
            <li>Perfil / Configuración</li>
        </ul>
    </section>
    <section class="Blog">
        
    </section>
{% endblock %}